
<!--inner block start here-->

    <!--market updates updates-->
    <div class="market-updates">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <h3><%= users %></h3>
                    <h4>Registered User</h4>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-users fa-5x" style="color: white;"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-2">
                <div class="col-md-8 market-update-left">
                    <h3><%= products %></h3>
                    <h4>Listed Products</h4>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-shopping-cart fa-5x" style="color: white;"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-3">
                <div class="col-md-8 market-update-left">
                    <h3><%= orders %></h3>
                    <h4>Total Orders</h4>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-truck fa-5x" style="color: white;"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--market updates end here-->
    <!--mainpage chit-chating-->
    <div class="chit-chat-layer1">
        <div class="col-md-6 chit-chat-layer1-left">
            <div class="work-progres">
                <div class="chit-chat-heading">
                    Recent Orders
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Order Id</th>
                                <th>Customer</th>

                                <th>Status</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody><% let no=1 %>
                            <% recentOrders.forEach((order)=>{%>
                            <tr>
                                <td><%= no++ %></td>
                                <td><%= order.orderId %></td>
                                <td><%= order.deliveryDetails.name %></td>
                                <% if(order.status == 'cancelled'){%>
                                <td><span class="label label-danger"><%= order.status %></span></td>
                                <%}else{%>
                                    <td><span class="label label-success"><%= order.status %></span></td>
                                <%}%>
                                <td><span class="badge badge-info"><%= order.paymentMethod %></span></td>
                            </tr>
                            <%})%>
                            <!-- <tr>
                                <td>2</td>
                                <td>Twitter</td>
                                <td>Evan</td>

                                <td><span class="label label-success">completed</span></td>
                                <td><span class="badge badge-success">100%</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Google</td>
                                <td>John</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-warning">75%</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>LinkedIn</td>
                                <td>Danial</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-info">65%</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tumblr</td>
                                <td>David</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-danger">95%</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tesla</td>
                                <td>Mickey</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-success">95%</span></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 chart-layer2-left">
            <div class="content-main revenue">
                <h3>Category List</h3>
                <canvas id="myChart" style="height: 43px; ; width:100%;max-width:600px"></canvas>
                
                <script>
                    var xValues = ["men's wear", "women's wear", "men accessories", "women accessories"];
                    var yValues = ['<%= mensWear %>', '<%= womensWear %>', '<%= mensAccess %>', '<%= womensAccess %>'];
                    var barColors = [
                        "#b91d47",
                        "#00aba9",
                        "#2b5797",
                        "#e8c3b9"
                    ];

                    new Chart("myChart", {
                        type: "doughnut",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "Products per each Category"
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--main page chit chating end here-->
    <!--main page chart layer2-->
    <div class="chart-layer-2">

        <div class="col-md-6 chart-layer2-right">
            <div class="prograc-blocks">
                <!--Progress bars-->
                <div class="home-progres-main">
                    <h3>Total Sales</h3>
                </div>
                <div class='bar_group'>
                    <div class='bar_group__bar thin' label='from Online' show_values='true' tooltip='true' value='<%= revenueFromOnline %>'></div>
                    <div class='bar_group__bar thin' label='from COD' show_values='true' tooltip='true' value='<%= revenueFromCOD %>'>
                    </div>
                    <div class='bar_group__bar thin' label='Average' show_values='true' tooltip='true' value='<%= (revenueFromOnline+revenueFromCOD)/2 %>'></div>
                    <div class='bar_group__bar thin' label='Total revenue' show_values='true' tooltip='true' value='<%= totalRevenue %>'>
                    </div>
                </div>
                <script src="js/bars.js"></script>

                <!--//Progress bars-->
            </div>
        </div>
        <div class="col-md-6 chart-layer2-left">
            <div class="content-main revenue">
                <h3>fdsfmld;</h3>
                <canvas id="barChart" style="width:100%;max-width:600px"></canvas>
                
                <script>
                    var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
                    var yValues = [55, 49, 44, 24, 15];
                    var barColors = ["red", "green", "blue", "orange", "brown"];

                    new Chart("barChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: "World Wine Production 2018"
                            }
                        }
                    });
                </script>

            </div>
        </div>
        <div class="clearfix"> </div>
    </div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->

