
<!--inner block start here-->

    <!--market updates updates-->
    <div class="market-updates">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-1">
                <div class="col-md-8 market-update-left">
                    <h3><%= users %></h3>
                    <h4>Registered User</h4>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-users fa-5x" style="color: white;"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-2">
                <div class="col-md-8 market-update-left">
                    <h3><%= products %></h3>
                    <h4>Listed Products</h4>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-shopping-cart fa-5x" style="color: white;"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block clr-block-3">
                <div class="col-md-8 market-update-left">
                    <h3><%= orders %></h3>
                    <h4>Total Orders</h4>
                    <p>Other hand, we denounce</p>
                </div>
                <div class="col-md-4 market-update-right">
                    <i class="fa fa-truck fa-5x" style="color: white;"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--market updates end here-->
    <!--mainpage chit-chating-->
    <div class="chit-chat-layer1">
        <div class="col-md-6 chit-chat-layer1-left">
            <div class="work-progres">
                <div class="chit-chat-heading">
                    Recent Orders
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Order Id</th>
                                <th>Customer</th>

                                <th>Status</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody><% let no=1 %>
                            <% recentOrders.forEach((order)=>{%>
                            <tr>
                                <td><%= no++ %></td>
                                <td><%= order.orderId %></td>
                                <td><%= order.deliveryDetails.name %></td>
                                <% if(order.status == 'cancelled'){%>
                                <td><span class="label label-danger"><%= order.status %></span></td>
                                <%}else{%>
                                    <td><span class="label label-success"><%= order.status %></span></td>
                                <%}%>
                                <td><span class="badge badge-info"><%= order.paymentMethod %></span></td>
                            </tr>
                            <%})%>
                            <!-- <tr>
                                <td>2</td>
                                <td>Twitter</td>
                                <td>Evan</td>

                                <td><span class="label label-success">completed</span></td>
                                <td><span class="badge badge-success">100%</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Google</td>
                                <td>John</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-warning">75%</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>LinkedIn</td>
                                <td>Danial</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-info">65%</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tumblr</td>
                                <td>David</td>

                                <td><span class="label label-warning">in progress</span></td>
                                <td><span class="badge badge-danger">95%</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Tesla</td>
                                <td>Mickey</td>

                                <td><span class="label label-info">in progress</span></td>
                                <td><span class="badge badge-success">95%</span></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 chart-layer2-left">
            <div class="content-main revenue">
                <h3>Category List</h3>
                <canvas id="myChart" style="height: 43px; ; width:100%;max-width:600px"></canvas>
                
                <script>
                    var xValues = ["men's wear", "women's wear", "men accessories", "women accessories"];
                    var yValues = ['<%= mensWear %>', '<%= womensWear %>', '<%= mensAccess %>', '<%= womensAccess %>'];
                    var barColors = [
                        "#b91d47",
                        "#00aba9",
                        "#2b5797",
                        "#e8c3b9"
                    ];

                    new Chart("myChart", {
                        type: "doughnut",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "Products per each Category"
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--main page chit chating end here-->
    <!--main page chart layer2-->
    <div class="chart-layer-2">

        <div class="col-md-6 chart-layer2-right">
            <div class="prograc-blocks">
                <!--Progress bars-->
                <div class="home-progres-main">
                    <h3>Total Sales</h3>
                </div>
                <div class='bar_group'>
                    <div class='bar_group__bar thin' label='from Online' show_values='true' tooltip='true' value='<%= revenueFromOnline %>'></div>
                    <div class='bar_group__bar thin' label='from COD' show_values='true' tooltip='true' value='<%= revenueFromCOD %>'>
                    </div>
                    <div class='bar_group__bar thin' label='Average' show_values='true' tooltip='true' value='<%= (revenueFromOnline+revenueFromCOD)/2 %>'></div>
                    <div class='bar_group__bar thin' label='Total revenue' show_values='true' tooltip='true' value='<%= totalRevenue %>'>
                    </div>
                </div>
                <script src="js/bars.js"></script>

                <!--//Progress bars-->
            </div>
        </div>
        <div class="col-md-6 chart-layer2-left">
            <div class="content-main revenue">
                <h3>Stocks</h3>
                <canvas id="barChart" style="width:100%;max-width:600px"></canvas>
                
                <script>
                    var Data = JSON.parse(`<%- JSON.stringify(stocks) %>`)
                    var colorArray = [
                            '#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
                            '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                            '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
                            '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                            '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
                            '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                            '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
                            '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                            '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
                            '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'
                        ]

                    var xValues = [];
                    var yValues = [];
                    var barColors = [];
                    
                    Data.forEach(async ele => {

                    await xValues.push(ele.name)
                    await yValues.push(ele.stock)
                    await barColors.push(colorArray[Data.indexOf(ele)])
                    
                    });
                    
                    new Chart("barChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: "Current stocks per product"
                            }
                        }
                    });
                </script>

            </div>
        </div>
        <div class="clearfix"> </div>
    </div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->

