<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="dash-my-order.html">My Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">

                            <!--====== Dashboard Features ======-->
                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                <div class="dash__pad-1">
                            
                                    <span class="dash__text u-s-m-b-16">Hello, <%- user.name %> </span>
                                    <ul class="dash__f-list">
                                        <li>
                            
                                            <a class="dash-active" href="dashboard.html">Manage My Account</a>
                                        </li>
                                        <li>
                            
                                            <a href="/myprofile">My Profile</a>
                                        </li>
                                        <li>
                            
                                            <a href="/addressBook">Address Book</a>
                                        </li>
                                        <li>
                            
                                            <a href="dash-track-order.html">Track Order</a>
                                        </li>
                                        <li>
                            
                                            <a href="/myOrders/<%= user.id %>">My Orders</a>
                                        </li>
                                        <li>
                            
                                            <a href="dash-payment-option.html">My Payment Options</a>
                                        </li>
                                        <li>
                            
                                            <a href="dash-cancellation.html">My Returns & Cancellations</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                    <span class="dash__text u-s-m-b-30">Here you can see all products that have been
                                        delivered.</span>
                                    <form class="m-order u-s-m-b-30">
                                        <div class="m-order__select-wrapper">

                                            <label class="u-s-m-r-8" for="my-order-sort">Show:</label><select
                                                class="select-box select-box--primary-style" id="my-order-sort">
                                                <option selected>Last 5 orders</option>
                                                <option>Last 15 days</option>
                                                <option>Last 30 days</option>
                                                <option>Last 6 months</option>
                                                <option>Orders placed in 2018</option>
                                                <option>All Orders</option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="m-order__list">

                                        <table class="table mt-5" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Number</th>
                                                    <th scope="col">Order Id</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Payment Method</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let no=1 %>
                                                    <% orders.forEach((order)=>{%>
                                                        <tr>
                                                            <th>
                                                                <%= no++ %>
                                                            </th>
                                                            <td>
                                                                <a href="/manageOrder/<%= order.orderId %>">
                                                                    <%= order.orderId %>
                                                                </a>
                                        
                                                            </td>
                                                            <td>
                                                                <%= order.createdAt %>
                                                            </td>
                                                            <td>
                                                                <%= order.paymentMethod %>
                                                            </td>
                                                            <td>
                                                                <%= order.status %>
                                                            </td>
                                        
                                                        </tr>
                                                        <%})%>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->