<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="index.html">Home</a>
                            </li>
                            <li class="is-marked">

                                <a href="dash-my-profile.html">My Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">

                            <!--====== Dashboard Features ======-->
                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                <div class="dash__pad-1">
                            
                                    <span class="dash__text u-s-m-b-16">Hello, <%- user.name %> </span>
                                    <ul class="dash__f-list">
                                        <li>
                            
                                            <a class="dash-active" href="dashboard.html">Manage My Account</a>
                                        </li>
                                        <li>
                            
                                            <a href="/myprofile">My Profile</a>
                                        </li>
                                        <li>
                            
                                            <a href="/addressBook">Address Book</a>
                                        </li>
                                        <li>
                            
                                            <a href="dash-track-order.html">Track Order</a>
                                        </li>
                                        <li>
                            
                                            <a href="/myOrders/<%= user.id %>">My Orders</a>
                                        </li>
                                        <li>
                            
                                            <a href="dash-payment-option.html">My Payment Options</a>
                                        </li>
                                        <li>
                            
                                            <a href="dash-cancellation.html">My Returns & Cancellations</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Profile</h1>

                                    <span class="dash__text u-s-m-b-30">Look all your info, you could customize your
                                        profile.</span>
                                    <div class="row">
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Full Name</h2>

                                            <span class="dash__text"><%= user.name %></span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                                            <span class="dash__text"><%= user.email %></span>
                                           
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Phone</h2>

                                            <span class="dash__text"><%= user.phoneNo %></span>
                                            <div class="dash__link dash__link--secondary">

                                            </div>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Birthday</h2>

                                            <span class="dash__text">1991-02-02</span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Gender</h2>

                                            <span class="dash__text">Male</span>
                                        </div>
                                        <div class="col-lg-4 u-s-m-b-30">
                                            <h2 class="dash__h2 u-s-m-b-8">Delivery Address</h2>
                                            <% user.Address.forEach((ele)=>{%>
                                                <% if(ele.isSelect){%>
                                            <span class="dash__text"><%= ele.address %>,
                                                <%= ele.town %>,
                                                    <%= ele.state %>,<%= ele.pin%></span>

                                                    <%}%>
                                                    <%})%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div  class="col-lg-12">
                                            <div class="dash__link dash__link--secondary u-s-m-b-30">

                                                <a class="dash__custom-link btn--e-transparent-brand-b-2" href="/deleteMe">Delete Account</a>
                                            </div>
                                            <div class="u-s-m-b-16">

                                                <a class="dash__custom-link btn--e-transparent-brand-b-2"
                                                    href="/updateMe">Edit Profile</a>
                                            </div>
                                            <div>

                                                <a class="dash__custom-link btn--e-brand-b-2" href="/updateMyPassword">Change
                                                    Password</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->